streamlit>=1.33.0
opencv-python-headless
numpy
Pillow
insightface==0.7.3
scikit-learn
mediapipe
fer==22.5.1         # ✅ compatible with Python 3.10
onnxruntime==1.21.1 # ✅ works with insightface + Py 3.10
